*.pyc
*$py.class
.*.sw?
*.egg-info
/.coverage
/.coverage.*
/.eggs
/.installed.cfg
/.pip-sync
/.tox
/.benchmark.csv.*
/bin
/build
/develop-eggs
/dist
/docs/.build
/eggs
/etc
/include
/lib
/local
/man
/share
/parts
/tcl
/Include
/Lib
/Scripts
/pip-selfcheck.json
/venv
