*.pyc
*$py.class
.*.sw?
*.egg-info
/.coverage
/.coverage.*
/.installed.cfg
/.tox
/bin
/build
/develop-eggs
/dist
/docs/.build
/eggs
/etc
/include
/lib
/man
/share
/parts
/tcl
/Include
/Lib
/Scripts
/pip-selfcheck.json
